{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="card shadow-xl">
    <form class="m-4">
      <div class="row">
        <div class="col">
          <label for="studentNumber">Student Number</label>
          <input type="text" class="form-control" id="studentNumber" placeholder="Student Number">
        </div>
        <div class="col">
          <label for="registrationNumber">Registration Number</label>
          <input type="text" class="form-control" id="registrationNumber" placeholder="Registration Number">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="instructorName">Instructor Name</label>
          <input type="text" class="form-control" id="instructorName" placeholder="Instructor Name">
        </div>
        <div class="col">
          <label for="courseNumber">Course Number</label>
          <input type="text" class="form-control" id="courseNumber" placeholder="Course Number">
        </div>
      </div>
  
      <div class="mb-3">
        <label for="feedbackTextarea" class="form-label">Feedback</label>
        <textarea class="form-control" id="feedbackTextarea" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% include "includes/footer.html" %}

{% endblock content %}
