{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="card shadow-xl">
    {% if messages %}

      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible wow m-3 fadeIn" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    
    {% endif %}

    <form class="m-4" method="post" action="{% url 'add_facility_feedback' %}">
      {% csrf_token %}
      {% if isAdmin == False %}
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Student Number</label>
          <input type="text" name="student_number" required class="form-control" placeholder="Student Number">
        </div>
        <div class="col">
          <label for="exampleInputEmail1">Registration Number</label>
          <input type="text" name="reg_number" required class="form-control" placeholder="Registration Number">
        </div>
      </div>

      <div class="mt-3">
        
        <label for="exampleInputEmail1">Facility Name</label>
        <input type="text" name="facility_name" required class="form-control" placeholder="Facilty Name">
      </div>
      
      {% endif %}

      <!--learning environment-->
      <div class="mb-4">
        <h5>Learning Environment</h5>

        <p>Classroom Facilities</p>
        {% if isAdmin == False %}
        <select class="form-select" name="classroom" id="classroomFacilitiesRating">
          <option value="excellent_rating">Excellent</option>
          <option value="very_good_rating">Very Good</option>
          <option value="good_rating">Good</option>
          <option value="fair_rating">Fair</option>
          <option value="poor_rating">Poor</option>
        </select>

        {% else %}
        <!--table to be viewed by the admin-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Facilty Name</th>
              <th scope="col">Excellent</th>
              <th scope="col">Very good</th>
              <th scope="col">Good</th>
              <th scope="col">Fair</th>
              <th scope="col">Poor</th>
            </tr>
          </thead>
          <tbody>
            {% if classroom %}
            {% for value in classroom %}
              <tr>
                <th scope="row">{{ value.facilty_name }}</th>
                <td>{{ value.excellent_rating }}</td>
                <td> {{value.very_good_rating}} </td>
                <td> {{ value.good_rating }} </td>
                <td> {{value.fair_rating}} </td>
                <td> {{ value.poor_rating }}</td>
              </tr>
            {% endfor %}
          
          {%  endif %}
          </tbody>
        </table>
        {% endif %}

        <p>Use of Technology(e.g WIFI)</p>
        {% if isAdmin == False %}
        <select class="form-select" name="technology" id="technologyRating">
          <option value="excellent_rating">Excellent</option>
          <option value="very_good_rating">Very Good</option>
          <option value="good_rating">Good</option>
          <option value="fair_rating">Fair</option>
          <option value="poor_rating">Poor</option>
        </select>
        {% else %}
        <!--table to be viewed by the admin-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Facility Name</th>
              <th scope="col">Excellent</th>
              <th scope="col">Very good</th>
              <th scope="col">Good</th>
              <th scope="col">Fair</th>
              <th scope="col">Poor</th>
            </tr>
          </thead>
          <tbody>
            {% if technology %}
          {% for value in technology %}
            <tr>
              <th scope="row">{{ value.facilty_name }}</th>
              <td>{{ value.excellent_rating }}</td>
              <td> {{value.very_good_rating}} </td>
              <td> {{ value.good_rating }} </td>
              <td> {{value.fair_rating}} </td>
              <td> {{ value.poor_rating }}</td>
            </tr>
          {% endfor %}
        
        {%  endif %}
          </tbody>
        </table>
        {% endif %}
        <p>Class Size</p>
        {% if isAdmin == False %}
        <select class="form-select" name="class_size" id="classSizeRating">
          <option value="excellent_rating">Excellent</option>
          <option value="very_good_rating">Very Good</option>
          <option value="good_rating">Good</option>
          <option value="fair_rating">Fair</option>
          <option value="poor_rating">Poor</option>
        </select>
        <!--table to be viewed by the admin-->
        {% else %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Facility Name</th>
              <th scope="col">Excellent</th>
              <th scope="col">Very good</th>
              <th scope="col">Good</th>
              <th scope="col">Fair</th>
              <th scope="col">Poor</th>
            </tr>
          </thead>
          <tbody>
            {% if classsize %}
          {% for value in classsize %}
            <tr>
              <th scope="row">{{ value.facilty_name }}</th>
              <td>{{ value.excellent_rating }}</td>
              <td> {{value.very_good_rating}} </td>
              <td> {{ value.good_rating }} </td>
              <td> {{value.fair_rating}} </td>
              <td> {{ value.poor_rating }}</td>
            </tr>
          {% endfor %}
        
        {%  endif %}
          </tbody>
        </table>

        {% endif %}
      </div>
      <!-- Overall Experience -->
        {% if isAdmin == False %}
          <div class="mb-4">
            <h5>Overall Experience</h5>
            <div class="mb-3">
              <label for="likedMostTextarea">What can you tell us about the facility?</label>
              <textarea class="form-control" name="likes" required id="likedMostTextarea" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label for="improvementSuggestionsTextarea">Any suggestions for improvement on the facilities?</label>
              <textarea class="form-control" name="suggestions" required id="improvementSuggestionsTextarea" rows="3"></textarea>
            </div>
          </div>

      
      <button type="submit" class="btn btn-primary">Submit</button>

      {% else %}

      <h5 class="text-center m-4">QUALITATIVE FEEDBACK</h5>
      <div class="border mx-2 p-2 mb-3">
        <div class="row">

          <h4 class="col">Question : <strong>What can you tell us about the facility?</strong> </h4>
          <a href="" class="col-2 m-2 btn btn-primary">View Feedbacks</a>
        </div>
        <h5>Stats</h5>
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Postive Feedback</p>
                      <h5 class="font-weight-bolder mb-0 text-success">
                        30
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Negative Feedback</p>
                      <h5 class="font-weight-bolder mb-0 text-danger">
                        10
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h5 class="mt-3">Visualizations</h5>

         <div class="row">
          <div class="w-50 col">

            <img src="{% static 'img/word_cloud.png' %}" class="img-fluid" alt="team1">
          </div>
         
         </div>
      </div>

      <div class="border mx-2 p-2 mb-3">
        <div class="row">

          <h4 class="col">Question : <strong>Any suggestions for improvement on the facilities?</strong> </h4>
          <a href="" class="col-2 m-2 btn btn-primary">View Feedbacks</a>
        </div>
        <h5>Stats</h5>
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Postive Feedback</p>
                      <h5 class="font-weight-bolder mb-0 text-success">
                        30
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Negative Feedback</p>
                      <h5 class="font-weight-bolder mb-0 text-danger">
                        10
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h5 class="mt-3">Visualizations</h5>

         <div class="row">
          <div class="w-50 col">

            <img src="{% static 'img/word_cloud2.png' %}" class="img-fluid" alt="team1">
          </div>
         
         </div>
      </div>


    {% endif %}
    </form>
  </div>

    {% include "includes/footer.html" %}
    
</div>

{% endblock content %}